@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

element {
    --grid-size: 4;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 25px;
    border: 10px solid darkslateblue;
    border-radius: .5em;
    font-size: 28px;
    color: darkslateblue;
    margin-bottom: 10px;
}

.draw-container {
    width: 960px;
    height: 960px;
    display: grid;
    margin-bottom: 10px;
    display: none;
}

.draw {
    display: inline-block;
    background-color: darkslateblue;
}

.draw:hover {
    background-color: aquamarine;
}

.painted {
    background-color: aquamarine;
}

/* INSTRUMENTS */

.instruments {
    display: flex;
    gap: 10px;
}

.eraser,
.pencil,
.erase-all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 10px solid darkslateblue;
    color: darkslateblue;
    border-radius: 1em;
}

.eraser:hover,
.pencil:hover,
.erase-all:hover {
    transform: translateY(-5px);
    cursor: pointer;
    border-color: aquamarine;
    color: aquamarine;
}